<h1><i class="fas fa-coffee"></i></span>Coffee Shop</h1>

<h2>Your order is ready!!</h2>
<p>{{coffee_order}} </p>

<ul id='666'>
  {{#each this}}
    {{#unless drink}}
      {{name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Your Coffee Order Line-up</h2>

<ul>
  {{#each this}}
    {{#if drink}}
      {{ name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Make a New Coffee Order</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Coffee Flavour:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="drink">Drink?</label>
    <input type="radio" id="drink-1" name="drink" value="1"> GULP it!<br>
    <input type="radio" id="drink-0" name="drink" value="0"> Order

  </div>
  <button type="submit">Place Order</button>
</form>
